font="Noto Sans 9"
background-color=#262626
border-radius=10
border-size=2
border-color=#62a0ea
output=HDMI-A-2
default-timeout=15000
width=400
height=200
