/*
!/.gitignore
!/.config/
.config/*
!/.config/gtklock/
!/.config/hypr/
!/.config/anyrun/
!/.config/waybar/
!/.config/mako/
!/.config/swaylock/
!/.config/helix/
.config/helix/runtime
!/.config/kirorunner.css
!/.config/watershot.ron
!/.config/swaync
!/.config/river

