#tags button {
  padding: 0 5px 0 5px;
  color: #ffffff;
  border-radius: 10px;
  margin-right: 5px;
}

#tags button.occupied {
  padding: 0 5px 0 5px;
  border-radius: 10px;
  background: rgba(145, 65, 172, 0.3);
}

#tags button.focused {
  background: #62a0ea;
  color: #262626;
  padding: 0 5px 0 5px;
  border-radius: 10px;
}

#tags button.urgent {
  background: #FFA348;
  color: #ffffff;
  padding: 0 5px 0 5px;
  border-radius: 10px;
}


#cpu {
  background: #62a0ea;
  color: #262626;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  min-width: 60px;
}

#memory {
  background: #9141ac;
  color: #ffffff;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  min-width: 120px;
}

#pulseaudio {
  background: #f8e45c;
  color: #262626;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  min-width: 60px;
}

#backlight {
  background: #5bc8af;
  color: #262626;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  min-width: 60px;
}

#backlight {
  background: #5bc8af;
  color: #262626;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  min-width: 60px;
}

#custom-battery {
  background: #57e389;
  color: #262626;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  min-width: 60px;
}

#battery {
  background: #57e389;
  color: #262626;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  min-width: 60px;
}

#tray {
  background: #303030;
  color: #ffffff;
  padding: 0 5px 0 5px;
  border-radius: 10px;
}

#clock {
  color: #ffffff;
}

#custom-kiroweather {
  color: #ffffff;
}

#mode {
  background: #f8e45c;
  color: #262626;
  padding: 0 5px 0 5px;
  border-radius: 10px;
}

window#waybar {
  background: rgba(38, 38, 38, 0.8);
  border-radius: 10px;
}