Config(
    handle_radius: 5,
    line_width: 2,
    display_highlight_width: 5,
    selection_color: Color(
        r: 97,
        g: 173,
        b: 240,
        a: 255,
    ),
    shade_color: Color(
        r: 28,
        g: 0,
        b: 28,
        a: 153,
    ),
    text_color: Color(
        r: 255,
        g: 255,
        b: 255,
        a: 255,
    ),
    size_text_size: 15,
    mode_text_size: 30,
    font_family: "monospace",
)
