Config(
    width: Absolute(800),
    vertical_offset: Fraction(-0.28),
    position: Center,
    ignore_exclusive_zones: false,
    hide_icons: false,
    hide_plugin_info: true,
    layer: Top,
    plugins: [
        "librandr.so",
        "libapplications.so",
        "libkidex.so",
        "libsymbols.so",
        "librink.so",
    ]
)
